---
import Section from "@/components/core/Section.astro";
import Features from "@/components/Features.astro";
import Testimonial from "@/components/Testimonial.astro";
import Base from "@/layouts/Base.astro";
import Cta from "@/layouts/partials/Cta.astro";
import { getEntry } from "astro:content";

const homepage = await getEntry("homepage", "index");
// console.log(homepage);
const { banner, sections, features, testimonial } = homepage.data;
const call_to_action = homepage.data.call_to_action;
---

<Base>
  <!-- Background Image (Moved Out of Stack) -->
  <div class="hidden lg:block absolute inset-0 -z-10 diagonal-bg">
    <img
      src="/images/bg2.jpg"
      class="w-full h-full object-cover"
      alt="Background Image"
    />
  </div>

  <!-- banner -->
  <section class="sm:m-20 lg:my-25 animate-fade-in">
    <Section section={banner} />
  </section>
  <!-- testimonial -->
  <Testimonial testimonial={testimonial} />
  <!-- multi section -->
  {
    sections && (
      <section class="multi-section">
        {sections.map((section) => (
          <Section section={section} />
        ))}
      </section>
    )
  }

  <!-- key features -->
  <Features features={features} />
  <!-- call to action -->
  <Cta {...call_to_action} />
  <!-- <Content /> -->
</Base>
